<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.5" targetFramework="net40" />
  <package id="CassandraCSharpDriver" version="2.7.2" targetFramework="net40" />
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="lz4net" version="1.0.5.93" targetFramework="net40" />
  <package id="numeral" version="1.5.3" targetFramework="net45" />
  <package id="WebSharper" version="3.5.3.203" targetFramework="net45" />
  <package id="WebSharper.Compiler" version="3.5.3.203" targetFramework="net45" />
  <package id="WebSharper.Html" version="3.5.4.5" targetFramework="net45" />
</packages>